In [77]:
import pandas as pd

# 导入数据
data_train = pd.read_csv(filepath_or_buffer='./FBlocation/train.csv')

In [78]:
data_train

            row_id       x       y  accuracy    time    place_id
0                0  0.7941  9.0809        54  470702  8523065625
1                1  5.9567  4.7968        13  186555  1757726713
2                2  8.3078  7.0407        74  322648  1137537235
3                3  7.3665  2.5165        65  704587  6567393236
4                4  4.0961  1.1307        31  472130  7440663949
...            ...     ...     ...       ...     ...         ...
29118016  29118016  6.5133  1.1435        67  399740  8671361106
29118017  29118017  5.9186  4.4134        67  125480  9077887898
29118018  29118018  2.9993  6.3680        67  737758  2838334300
29118019  29118019  4.0637  8.0061        70  764975  1007355847
29118020  29118020  7.4523  2.0871        17  102842  7028698129

[29118021 rows x 6 columns]

In [79]:
# 因为数据量过多，所以减少数据。只取位置在 x < 9, y < 9 之间的
data_train = data_train.query('x < 9 & y < 9')

In [80]:
# 将时间转化为 日、星期几的形式
time = pd.to_datetime(data_train['time'], unit='s')  # 时间戳转 time 类型
time = pd.DatetimeIndex(time) # 转换为可通过 . 索引的数据类型

# 因为数据集里全是 1970 年 1 月，所以只取日、时、星期几
# 将他们添加为新列
data_train['day'] = time.day
data_train['hour'] = time.hour
data_train['weekday'] = time.weekday

/var/folders/8w/gbcdx24135zfcng_1h_r02jw0000gn/T/ipykernel_37637/1326260733.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['day'] = time.day
/var/folders/8w/gbcdx24135zfcng_1h_r02jw0000gn/T/ipykernel_37637/1326260733.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['hour'] = time.hour
/var/folders/8w/gbcdx24135zfcng_1h_r02jw0000gn/T/ipykernel_37637/1326260733.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_train['weekday'] = time.weekday

In [81]:
data_train

,row_id,x,y,accuracy,time,place_id,day,hour,weekday
1,1,5.9567,4.7968,13,186555,1757726713,3,3,5
2,2,8.3078,7.0407,74,322648,1137537235,4,17,6
3,3,7.3665,2.5165,65,704587,6567393236,9,3,4
4,4,4.0961,1.1307,31,472130,7440663949,6,11,1
5,5,3.8099,1.9586,75,178065,6289802927,3,1,5
...,...,...,...,...,...,...,...,...,...
29118016,29118016,6.5133,1.1435,67,399740,8671361106,5,15,0
29118017,29118017,5.9186,4.4134,67,125480,9077887898,2,10,4
29118018,29118018,2.9993,6.3680,67,737758,2838334300,9,12,4
29118019,29118019,4.0637,8.0061,70,764975,1007355847,9,20,4
29118020,29118020,7.4523,2.0871,17,102842,7028698129,2,4,4

In [82]:
# 筛选掉签到次数过少的位置（小于 10 次）
count_place = data_train.groupby(data_train['place_id']).count()
count_place

            row_id    x    y  accuracy  time  day  hour  weekday
place_id
1000015801      78   78   78        78    78   78    78       78
1000017288      95   95   95        95    95   95    95       95
1000025138     563  563  563       563   563  563   563      563
1000052096     960  960  960       960   960  960   960      960
1000063498      59   59   59        59    59   59    59       59
...            ...  ...  ...       ...   ...  ...   ...      ...
9999851158      60   60   60        60    60   60    60       60
9999855083     212  212  212       212   212  212   212      212
9999862567       8    8    8         8     8    8     8        8
9999916757     506  506  506       506   506  506   506      506
9999932225     203  203  203       203   203  203   203      203

[97919 rows x 8 columns]

In [83]:
# 只取其中一列就好
count_place = count_place.iloc[:, 1]
data_train = data_train[data_train['place_id'].isin(count_place.index.values)]  # 【重点】布尔索引

In [84]:
data_train

,row_id,x,y,accuracy,time,place_id,day,hour,weekday
1,1,5.9567,4.7968,13,186555,1757726713,3,3,5
2,2,8.3078,7.0407,74,322648,1137537235,4,17,6
3,3,7.3665,2.5165,65,704587,6567393236,9,3,4
4,4,4.0961,1.1307,31,472130,7440663949,6,11,1
5,5,3.8099,1.9586,75,178065,6289802927,3,1,5
...,...,...,...,...,...,...,...,...,...
29118016,29118016,6.5133,1.1435,67,399740,8671361106,5,15,0
29118017,29118017,5.9186,4.4134,67,125480,9077887898,2,10,4
29118018,29118018,2.9993,6.3680,67,737758,2838334300,9,12,4
29118019,29118019,4.0637,8.0061,70,764975,1007355847,9,20,4
29118020,29118020,7.4523,2.0871,17,102842,7028698129,2,4,4

In [85]:
# 确定特征值和目标值
x_train = data_train[['x', 'y', 'accuracy', 'day', 'hour', 'weekday']]  # 【重点】注意这里是两个括号
y_train = data_train['place_id']

# 数据集划分
from sklearn import model_selection
x_train, x_test, y_train, y_test = model_selection.train_test_split(x_train, y_train, random_state=233)

In [86]:
x_train

               x       y  accuracy  day  hour  weekday
12606541  2.9896  6.3347       156    8    21        3
18276420  5.3097  5.9447        46    7     8        2
9282874   7.8890  8.3782        64    2    15        4
6903237   8.4364  1.3190        50    7     2        2
604219    7.2602  7.4933        66    1    10        3
...          ...     ...       ...  ...   ...      ...
26571759  1.7723  0.3957        25    7     6        2
16139172  6.9674  3.2704        51    9     5        4
8385151   4.3102  5.4805       103    8    17        3
22043226  8.2379  8.5053        11    3     0        5
5438865   1.1178  8.6841        13    4    21        6

[17792490 rows x 6 columns]

In [87]:
x_test

               x       y  accuracy  day  hour  weekday
2576917   5.1497  0.4983       142    2     7        4
4177697   4.3337  7.4028       173    1    18        3
22394191  1.3417  8.7954       516    3     7        5
1349806   2.4563  4.4633        11    3     3        5
27627201  7.7164  6.4706        74    9    20        4
...          ...     ...       ...  ...   ...      ...
20317653  0.7459  0.2321        76    9    15        4
10961145  8.3439  4.5181        55    1    15        3
8556379   3.3010  3.5174        74    5    23        0
17284542  6.0146  4.6603        26    9     5        4
11370893  8.4739  2.7727        48    6     8        1

[5930830 rows x 6 columns]

In [88]:
# 特征预处理（标准化）
from sklearn import preprocessing

# 实例化转换器对象
transfer = preprocessing.StandardScaler()

# 调用 fit 和 transform
x_train = transfer.fit_transform(X=x_train)
x_test = transfer.transform(X=x_test)

In [89]:
# 机器学习 KNN + CV
# 实例化估计器对象
from sklearn import neighbors
estimator = neighbors.KNeighborsClassifier()

# 导入CV转换器对象
param_grid = {'n_neighbors': [i for i in range(2, 10)]}  # 【重点】KNN 算法参数，注意是要以字典的形式
estimator = model_selection.GridSearchCV(estimator=estimator, param_grid=param_grid, cv=10)

# 模型训练
estimator.fit(X=x_train, y=y_train)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [2, 3, 4, 5, 6, 7, 8, 9]})

In [90]:
# 模型评估：
score = estimator.score(X=x_test, y=y_test)
print("预测的准确率为:\n", score)

y_predict =estimator.predict(x_test)
print("预测值和真实值的对比情况:\n", y_predict == y_test)

print('交叉验证中最高的准确率：\n', estimator.best_score_)
print('网格搜索中最好的参数：\n', estimator.best_params_)
print('每次交叉验证后的验证集准确率结果和训练集准确率结果：\n', estimator.cv_results_)
print('最好的估计器：\n', estimator.best_estimator_)

预测的准确率为:
 0.1306382074684319
预测值和真实值的对比情况:
 2576917     False
4177697     False
22394191    False
1349806     False
27627201    False
            ...
20317653    False
10961145    False
8556379     False
17284542     True
11370893    False
Name: place_id, Length: 5930830, dtype: bool
交叉验证中最高的准确率：
 0.12497452576901828
网格搜索中最好的参数：
 {'n_neighbors': 2}
每次交叉验证后的验证集准确率结果和训练集准确率结果：
 {'mean_fit_time': array([19.31182353, 17.84795337, 18.08761151, 17.84657748, 17.83777614,
       17.73078723, 17.6765547 , 17.61545238]), 'std_fit_time': array([0.89927646, 0.7503705 , 1.884261  , 0.16561776, 0.15843099,
       0.15544604, 0.14100054, 0.41628209]), 'mean_score_time': array([68.35612488, 72.13544304, 77.10632224, 82.31485076, 86.82953241,
       91.12730904, 95.26304464, 98.88156996]), 'std_score_time': array([1.91192912, 1.42240179, 2.06476968, 0.42120457, 0.30961166,
       1.02922258, 0.52473991, 2.87568694]), 'param_n_neighbors': masked_array(data=[2, 3, 4, 5, 6, 7, 8, 9],
             mask=[False, False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 2}, {'n_neighbors': 3}, {'n_neighbors': 4}, {'n_neighbors': 5}, {'n_neighbors': 6}, {'n_neighbors': 7}, {'n_neighbors': 8}, {'n_neighbors': 9}], 'split0_test_score': array([0.12521013, 0.11826338, 0.11519636, 0.11323542, 0.11191857,
       0.11033756, 0.10883749, 0.10718848]), 'split1_test_score': array([0.12472341, 0.11818975, 0.11491084, 0.11304376, 0.11155381,
       0.10991042, 0.108303  , 0.10693444]), 'split2_test_score': array([0.12473465, 0.11813299, 0.11490522, 0.11287571, 0.11124244,
       0.10975979, 0.10831705, 0.10666972]), 'split3_test_score': array([0.12480828, 0.11814479, 0.11524244, 0.11328768, 0.1115184 ,
       0.11001046, 0.10842889, 0.10691477]), 'split4_test_score': array([0.12532872, 0.11835724, 0.11517106, 0.11328544, 0.1117685 ,
       0.11021335, 0.10866439, 0.10704123]), 'split5_test_score': array([0.12503478, 0.11820043, 0.11508058, 0.11328544, 0.11141105,
       0.10972382, 0.10825747, 0.10683946]), 'split6_test_score': array([0.12481277, 0.11829766, 0.11524975, 0.11326296, 0.11178874,
       0.11024876, 0.10867001, 0.10713734]), 'split7_test_score': array([0.12492799, 0.11803407, 0.11482429, 0.11288302, 0.11117893,
       0.10982162, 0.10832379, 0.10676527]), 'split8_test_score': array([0.12504264, 0.11825551, 0.11520029, 0.11334333, 0.11170949,
       0.11008409, 0.10875825, 0.10708788]), 'split9_test_score': array([0.12512189, 0.11805543, 0.1152593 , 0.11343494, 0.11172523,
       0.11003912, 0.10849915, 0.10695243]), 'mean_test_score': array([0.12497453, 0.11819313, 0.11510401, 0.11319377, 0.11158152,
       0.1100149 , 0.10850595, 0.1069531 ]), 'std_test_score': array([1.96855202e-04, 9.84716549e-05, 1.55703961e-04, 1.82456546e-04,
       2.32249522e-04, 2.00415279e-04, 2.00840701e-04, 1.56714394e-04]), 'rank_test_score': array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int32)}
最好的估计器：
 KNeighborsClassifier(n_neighbors=2)